/*
    No chosen zmk,matrix-transform here if using ZMK stuidio.
    https://zmk.dev/docs/features/studio#adding-zmk-studio-support-to-a-keyboard
*/

//
//                                         ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀               _
//                                         ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄     ___ | | ___   ___   ___  _   _ 
//                                         █   █  █  █   █  █  █   █  █  █   █   / '_ \| |/ _ \ / _ \/ '_ \| | | |
//                                          ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀    | |_) | | (_) | (_) | |_) | |_| |
//                                                █      ▄▄▄█▄▄▄    █   █        | .__/|_|\___/ \___/| .__/ \__, |
//                                                ▀      █  █  █     █▄█         |_|                 |_|       |_|
//                                              ▀▀▀▀▀    █  █  █      ▀
//                                                       ▀  ▀  ▀   APPLE & MICROSOFT, QWERTY and COLEMAK-DH, MIRYOKU-INSPIRED
//                                                                 (best viewed with nerdfonts)
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//
// ╭───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╮
// │ I N C L U D E S                                                                                                                                   │
// ╰───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

// ╭───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╮
// │ D E F I N I T I O N S                                                                                                                             │
// ╰───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

// keep all behavior settings for zmk studio
#define ZMK_BEHAVIORS_OMIT_KT

// DEFINE LAYERS
#define cmac0    0
#define qmac1    1
#define cwin2    2
#define qwin3    3
#define maus4    4
#define arro5    5
#define calc6    6
#define nums7    7
#define punc8    8
#define fkey9    9

// DEFINE MAC-SPECIFIC KEYS
#define APL_LAUNCHPAD          C_AC_DESKTOP_SHOW_ALL_APPLICATIONS
#define APL_LP                 APL_LAUNCHPAD
#define APL_MISSION_CONTROL    C_AC_DESKTOP_SHOW_ALL_WINDOWS
#define APL_MC                 APL_MISSION_CONTROL
#define APL_SPOTLIGHT          C_AC_SEARCH
#define APL_SP                 APL_SPOTLIGHT
#define APL_CUT                LG(X)
#define APL_COPY               LG(C)
#define APL_PASTE              LG(V)
#define APL_UNDO               LG(Z)
#define APL_REDO               LG(LS(Z))
#define APL_APP_WINDOWS        LG(LC(DOWN))
#define APL_APPWIN             APL_APP_WINDOWS
#define APL_NEXT_WINDOW        LG(GRAVE)
#define APL_WINN               APL_NEXT_WINDOW
#define APL_PREVIOUS_WINDOW    LG(TILDE)
#define APL_WINP               APL_PREVIOUS_WINDOW
#define APL_NEXT_DESKTOP       LG(LC(RIGHT))
#define APL_DKTN               APL_NEXT_DESKTOP
#define APL_PREVIOUS_DESKTOP   LG(LC(LEFT))
#define APL_DKTP               APL_PREVIOUS_DESKTOP
#define APL_FIND_NEXT          LG(G)
#define APL_FDNXT              APL_FIND_NEXT
#define APL_FIND_PREVIOUS      LG(LS(G))
#define APL_FDPRV              APL_FIND_PREVIOUS
#define APL_NEXT_WORD          LA(RIGHT)
#define APL_WRDN               APL_NEXT_WORD
#define APL_PREVIOUS_WORD      LA(LEFT)
#define APL_WRDP               APL_PREVIOUS_WORD
#define APL_START_OF_LINE      LG(LEFT)
#define APL_STTL               APL_START_OF_LINE
#define APL_END_OF_LINE        LG(RIGHT)
#define APL_ENDL               APL_END_OF_LINE

// ╭───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╮
// │ M A C R O S                                                                                                                                       │
// ╰───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

// SHIFT HELPER - easier re-mapping of shifted characters //
#define DEFINE_SHIFT_KEY(_behavior_name, _normal_key, _shifted_key)         \
    _behavior_name: _behavior_name {                                        \
      compatible = "zmk,behavior-mod-morph";                                \
      #binding-cells = <0>;                                                 \
      bindings = <_normal_key>, <_shifted_key>;                             \
      mods = <(MOD_LSFT|MOD_RSFT)>;                                         \
    };

// TAPDANCE HELPER - one-line tap dance creation //
#define DEFINE_DOUBLE_TAP_KEY(_behavior_name, _normal_key, _double_tap_key) \
    _behavior_name: _behavior_name {                                        \
      compatible = "zmk,behavior-tap-dance";                                \
      #binding-cells = <0>;                                                 \
      tapping-term-ms = <200>;                                              \
      bindings = <_normal_key>, <_double_tap_key>;                          \
    };

// COMBO HELPER - one-line combo creationg //
#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS)                               \
  combo_##NAME {                                                            \
    timeout-ms = <50>;                                                      \
    bindings = <BINDINGS>;                                                  \
    key-positions = <KEYPOS>;                                               \
    layers = <LAYERS>;                                                      \
  };

//  ╭────────────────────────┬────────────────────────╮     ╭────────────────╮
//  │      0   1   2   3   4 │  5   6   7   8   9     │     │ 38  39  40  41 │
//  │     10  11  12  13  14 │ 15  16  17  18  19     │     │                │
//  │ 20  21  22  23  24  25 │ 26  27  28  29  30  31 │     │ 42          43 │
//  ╰───────────╮ 32  33  34 │ 35  36  37 ╭───────────╯     │                │
//              ╰────────────┴────────────╯                 ╰────────────────╯

/ {
    behaviors {

        DEFINE_DOUBLE_TAP_KEY(td_par, &kp LPAR, &kp RPAR)
        DEFINE_DOUBLE_TAP_KEY(td_brc, &kp LBRC, &kp RBRC)
        DEFINE_DOUBLE_TAP_KEY(td_bkt, &kp LBKT, &kp RBKT)
        DEFINE_DOUBLE_TAP_KEY(td_lt, &kp LT, &kp GT)
        DEFINE_DOUBLE_TAP_KEY(td_slh, &kp FSLH, &kp BSLH)
        DEFINE_SHIFT_KEY(comma_semi, &kp COMMA, &kp SEMI)
        DEFINE_SHIFT_KEY(dot_colon, &kp DOT, &kp COLON)
        DEFINE_SHIFT_KEY(qu_excl, &kp QMARK, &kp EXCL)
        DEFINE_SHIFT_KEY(redo, &kp K_UNDO, &kp K_REDO)

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <10 11 12 13 14>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <15 16 17 18 19>;
            hold-trigger-on-release;
        };
    };

// ╭───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╮
// │ C O M B O S                                                                                                                                       │
// ╰───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯
//  ╭────────────────────────┬────────────────────────╮     ╭────────────────╮
//  │      0   1   2   3   4 │  5   6   7   8   9     │     │ 38  39  40  41 │
//  │     10  11  12  13  14 │ 15  16  17  18  19     │     │                │
//  │ 20  21  22  23  24  25 │ 26  27  28  29  30  31 │     │ 42          43 │
//  ╰───────────╮ 32  33  34 │ 35  36  37 ╭───────────╯     │                │
//              ╰────────────┴────────────╯                 ╰────────────────╯

    combos {
        compatible = "zmk,combos";

        COMBO(caps, &kp CAPS, 13 16, 0 1 2 3)
        COMBO(lbrc, &kp LBRC, 13 14, 8)
        COMBO(lt, &kp LT, 24 25, 8)
        COMBO(undo, &kp K_UNDO, 21 22, 0 1 2 3 4 5 6 7 8 9)
        COMBO(copy, &kp K_COPY, 22 23, 0 1 2 3 4 5 6 7 8 9)
        COMBO(paste, &kp K_PASTE, 23 24, 0 1 2 3 4 5 6 7 8 9)
    };

// ▝▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▘
// ╭───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╮
// │ K E Y M A P S                                                                                                                                     │
// ╰───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

    keymap {
        compatible = "zmk,keymap";

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 0  │  COLEMAK-DH with Apple modifiers         │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │    Q│ │    W│ │    F│ │    P│ │    B│       │     │ │     │ │     │ │     │       │J    │ │L    │ │U    │ │Y    │ │'    │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │󰘴 ┋ A│ │󰘵 ┋ R│ │󰘳 ┋ S│ │󰘶 ┋ T│ │ ┋ G│       ╭─────╮    ==      ==   ╭─────╮       │M ┋ │ │N ┋ 󰘶│ │E ┋ 󰘳│ │I ┋ 󰘵│ │O ┋ 󰘴│
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │    󰼐│ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │󰼏    │
//         ╰─────╯ │    Z│ │    X│ │    C│ │    D│ │    V│       │     │    ==      ==   │     │       │K    │ │H    │ │,    │ │.    │ │?    │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │󰼒 ┋ ⎋│ ╭─────╮                                                 ╭─────╮ │󰹿 ┋ 󰼗│
//                                       ╰─────╯ │󰼓 ┋ 󱁐│ ╭─────╮                                 ╭─────╮ │󰭜 ┋ 󰼖│ ╰─────╯
//                                               ╰─────╯ │󰼔 ┋ 󰌒│                                 │⏎ ┋ 󰼕│ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        cmac0 {
            display-name = "cmac0";
            bindings = <
                &kp Q           &kp W          &kp F         &kp P           &kp B             &kp J           &kp L          &kp U         &kp Y           &kp APOS
                &hml LCTRL A    &hml LALT R    &hml LCMD S   &hml LSHFT T    &hml GLOBE G      &hmr GLOBE M    &hmr RSHFT N   &hmr RCMD E   &hmr RALT I     &hmr RCTRL O
        &to 2   &kp Z           &kp X          &kp C         &kp D           &kp V             &kp K           &kp H          &comma_semi   &dot_colon      &qu_excl         &tog 1
                                               &lt maus4 ESC  &lt arro5 SPACE  &lt calc6 TAB      &lt nums7 RET    &lt punc8 BSPC  &lt fkey9 DEL
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 1  │  QWERTY with Apple modifiers             │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │    Q│ │    W│ │    E│ │    R│ │    T│       │     │ │     │ │     │ │     │       │Y    │ │U    │ │I    │ │O    │ │P    │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │󰘴 ┋ A│ │󰘵 ┋ S│ │󰘳 ┋ D│ │󰘶 ┋ F│ │ ┋ G│       ╭─────╮    ==      ==   ╭─────╮       │M ┋ │ │J ┋ 󰘶│ │K ┋ 󰘳│ │L ┋ 󰘵│ │' ┋ 󰘴│
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │    󰼐│ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │󰼏    │
//         ╰─────╯ │    Z│ │    X│ │    C│ │    V│ │    B│       │     │    ==      ==   │     │       │M    │ │M    │ │,    │ │.    │ │?    │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │󰼒 ┋ ⎋│ ╭─────╮                                                 ╭─────╮ │󰹿 ┋ 󰼗│
//                                       ╰─────╯ │󰼓 ┋ 󱁐│ ╭─────╮                                 ╭─────╮ │󰭜 ┋ 󰼖│ ╰─────╯
//                                               ╰─────╯ │󰼔 ┋ 󰌒│                                 │⏎ ┋ 󰼕│ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        qmac1 {
            display-name = "qmac1";
            bindings = <
                &kp Q         &kp W        &kp E         &kp R           &kp T           &kp Y         &kp U          &kp I         &kp O        &kp P
                &hml LCTRL A  &hml LALT S  &hml LCMD D   &hml LSHFT F    &hml GLOBE G    &hmr GLOBE H  &hmr RSHFT J   &hmr RCMD K   &hmr RALT L  &hmr RCTRL APOS
         &to 3  &kp Z         &kp X        &kp C         &kp V           &kp B           &kp N         &kp M          &comma_semi   &dot_colon   &qu_excl         &tog 1
                                           &lt maus4 ESC  &lt arro5 SPACE  &lt calc6 TAB    &lt nums7 RET  &lt punc8 BSPC  &lt fkey9 DEL
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 2  │  COLEMAK-DH with Microsoft modifiers     │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │    Q│ │    W│ │    F│ │    P│ │    B│       │     │ │     │ │     │ │     │       │J    │ │L    │ │U    │ │Y    │ │'    │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │󰖳 ┋ A│ │󰘵 ┋ R│ │󰘴 ┋ S│ │󰘶 ┋ T│ │    G│       ╭─────╮    ==      ==   ╭─────╮       │M    │ │N ┋ 󰘶│ │E ┋ 󰘴│ │I ┋ 󰘵│ │O ┋ 󰖳│
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │    󰼐│ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │󰼏    │
//         ╰─────╯ │    Z│ │    X│ │    C│ │    D│ │    V│       │     │    ==      ==   │     │       │K    │ │H    │ │,    │ │.    │ │?    │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │󰼒 ┋ ⎋│ ╭─────╮                                                 ╭─────╮ │󰹿 ┋ 󰼗│
//                                       ╰─────╯ │󰼓 ┋ 󱁐│ ╭─────╮                                 ╭─────╮ │󰭜 ┋ 󰼖│ ╰─────╯
//                                               ╰─────╯ │󰼔 ┋ 󰌒│                                 │⏎ ┋ 󰼕│ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        cwin2 {
            display-name = "cwin2";
            bindings = <
       &kp Q        &kp W        &kp F         &kp P           &kp B           &kp J         &kp L          &kp U         &kp Y        &kp APOS
       &hml LGUI A  &hml LALT R  &hml LCTRL S  &hml LSHFT T    &kp G           &kp M         &hmr RSHFT N   &hmr RCTRL E  &hmr RALT I  &hmr RGUI O
&to 0  &kp Z        &kp X        &kp C         &kp D           &kp V           &kp K         &kp H          &comma_semi   &dot_colon   &qu_excl      &tog 3
                                 &lt maus4 ESC  &lt arro5 SPACE  &lt calc6 TAB    &lt nums7 RET  &lt punc8 BSPC  &lt fkey9 DEL
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 3  │  QWERTY with Microsoft modifiers         │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │    Q│ │    W│ │    E│ │    R│ │    T│       │     │ │     │ │     │ │     │       │Y    │ │U    │ │I    │ │O    │ │P    │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │󰖳 ┋ A│ │󰘵 ┋ S│ │󰘴 ┋ D│ │󰘶 ┋ F│ │    G│       ╭─────╮    ==      ==   ╭─────╮       │M    │ │J ┋ 󰘶│ │K ┋ 󰘴│ │L ┋ 󰘵│ │' ┋ 󰖳│
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │    󰼐│ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │󰼏    │
//         ╰─────╯ │    Z│ │    X│ │    C│ │    V│ │    B│       │     │    ==      ==   │     │       │M    │ │M    │ │,    │ │.    │ │?    │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │󰼒 ┋ ⎋│ ╭─────╮                                                 ╭─────╮ │󰹿 ┋ 󰼗│
//                                       ╰─────╯ │󰼓 ┋ 󱁐│ ╭─────╮                                 ╭─────╮ │󰭜 ┋ 󰼖│ ╰─────╯
//                                               ╰─────╯ │󰼔 ┋ 󰌒│                                 │⏎ ┋ 󰼕│ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        qwin3 {
            display-name = "qwin3";
            bindings = <
       &kp Q        &kp W        &kp E         &kp R           &kp T           &kp Y         &kp U          &kp I         &kp O        &kp P
       &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHFT F    &kp G           &kp H         &hmr RSHFT J   &hmr RCTRL K  &hmr RALT L  &hmr RGUI APOS
&to 1  &kp Z        &kp X        &kp C         &kp V           &kp B           &kp N         &kp M          &comma_semi   &dot_colon   &qu_excl        &tog 3
                                 &lt maus4 ESC  &lt arro5 SPACE  &lt calc6 TAB    &lt nums7 RET  &lt punc8 BSPC  &lt fkey9 DEL
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 4  │  ZMK Control and Mouse Emulation         │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │  BLE│ │  PWR│ │  STU│ │     │ │     │       │     │ │     │ │     │ │     │       │     │ │󰆐    │ │󰆏    │ │󰆒    │ │󰕌    │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │    │ │    │ │    │ │    │ │    │       ╭─────╮    ==      ==   ╭─────╮       │     │ │← 󰍽  │ │↓ 󰍽  │ │󰍽 ↑  │ │󰍽 →  │
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │     │ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │     │
//         ╰─────╯ │     │ │     │ │     │ │     │ │     │       │     │    ==      ==   │     │       │     │ │← 󱕒  │ │↓ 󱕒  │ │󱕒 ↑  │ │󱕒 →  │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │    󰚶│ ╭─────╮                                                 ╭─────╮ │󰍽 3  │
//                                       ╰─────╯ │    󰚶│ ╭─────╮                                 ╭─────╮ │󰍽 1  │ ╰─────╯
//                                               ╰─────╯ │    󰚶│                                 │󰍽 2  │ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        maus4 {
            label = "maus4";
            bindings = <
       &out OUT_TOG  &none              &studio_unlock  &none   &none     &none     &kp K_CUT       &kp K_COPY      &kp K_PASTE   &kp K_UNDO
       &trans        &trans             &trans          &trans  &trans    &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
&none  &none         &none              &none           &none   &none     &none     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
                                        &trans          &trans  &trans    &mkp MB2  &mkp MB1        &mkp MB3
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 5  │  Navigation and Arrow Keys               │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │     │ │     │ │     │ │     │ │     │       │     │ │     │ │     │ │     │       │    │ │↖    │ │⇟    │ │⇞    │ │↘    │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │    │ │    │ │    │ │    │ │    │       ╭─────╮    ==      ==   ╭─────╮       │ →  │ │←    │ │↓    │ │↑    │ │→    │
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │     │ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │     │
//         ╰─────╯ │     │ │     │ │     │ │     │ │     │       │     │    ==      ==   │     │       │←   │ │󰾺    │ │󰊆    │ │󰊅    │ │󰾸    │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │    󰚶│ ╭─────╮                                                 ╭─────╮ │    │
//                                       ╰─────╯ │    󰚶│ ╭─────╮                                 ╭─────╮ │    │ ╰─────╯
//                                               ╰─────╯ │    󰚶│                                 │    │ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        arro5 {
            label = "arro5";
            bindings = <
       &none       &none      &none       &none        &none         &kp INS        &kp HOME      &kp PG_DN     &kp PG_UP     &kp END
       &trans      &trans     &trans      &trans       &trans        &kp APL_FDNXT  &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT
&none  &none       &none      &none       &none        &none         &kp APL_FDPRV  &kp APL_WRDP  &kp APL_STTL  &kp APL_ENDL  &kp APL_WRDN  &none
                              &trans      &trans       &trans        &trans         &trans        &trans
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 6  │  Ten-Key Number Pad                      │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │     │ │     │ │     │ │     │ │     │       │     │ │     │ │     │ │     │       │CLR  │ │7    │ │8    │ │9    │ │*    │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │    │ │    │ │    │ │    │ │    │       ╭─────╮    ==      ==   ╭─────╮       │/    │ │4    │ │5    │ │6    │ │-    │
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │     │ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │     │
//         ╰─────╯ │     │ │     │ │     │ │     │ │     │       │     │    ==      ==   │     │       │=    │ │1    │ │2    │ │3    │ │+    │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │    󰚶│ ╭─────╮                                                 ╭─────╮ │.    │
//                                       ╰─────╯ │    󰚶│ ╭─────╮                                 ╭─────╮ │0    │ ╰─────╯
//                                               ╰─────╯ │    󰚶│                                 │ENT  │ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        calc6 {
            label = "calc6";
            bindings = <
       &none   &none   &none   &none   &none     &kp KP_CLEAR   &kp KP_N7  &kp KP_N8   &kp KP_N9  &kp KP_MULTIPLY
       &trans  &trans  &trans  &trans  &trans    &kp KP_DIVIDE  &kp KP_N4  &kp KP_N5   &kp KP_N6  &kp KP_MINUS
&none  &none   &none   &none   &none   &none     &kp KP_EQUAL   &kp KP_N1  &kp KP_N2   &kp KP_N3  &kp KP_PLUS      &none
                       &trans  &trans  &trans    &kp KP_ENTER   &kp KP_N0  &kp KP_DOT
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 7  │  Top-Row Numbers (and cheater symbols)   │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │    1│ │    2│ │    3│ │    4│ │    5│       │     │ │     │ │     │ │     │       │     │ │     │ │     │ │     │ │     │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │    6│ │    7│ │    8│ │    9│ │    0│       ╭─────╮    ==      ==   ╭─────╮       │    │ │    │ │    │ │    │ │    │
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │     │ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │     │
//         ╰─────╯ │   ()│ │    +│ │    -│ │    =│ │    .│       │     │    ==      ==   │     │       │     │ │     │ │     │ │     │ │     │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │     │ ╭─────╮                                                 ╭─────╮ │󰚶    │
//                                       ╰─────╯ │     │ ╭─────╮                                 ╭─────╮ │󰚶    │ ╰─────╯
//                                               ╰─────╯ │     │                                 │󰚶    │ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        nums7 {
            label = "nums7";
            bindings = <
       &kp N1        &kp N2    &kp N3     &kp N4     &kp N5     &none   &none   &none   &none   &none
       &kp N6        &kp N7    &kp N8     &kp N9     &kp N0     &trans  &trans  &trans  &trans  &trans
&none  &td_par    &kp PLUS  &kp MINUS  &kp EQUAL  &kp DOT    &none   &none   &none   &none   &none   &none
                               &none      &none      &none      &trans  &trans  &trans
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 8  │  Custom Symbols                          │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │    !│ │    @│ │    #│ │    $│ │    %│       │     │ │     │ │     │ │     │       │     │ │     │ │     │ │     │ │     │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │    ^│ │    &│ │    *│ │  () { }   []│       ╭─────╮    ==      ==   ╭─────╮       │    │ │    │ │    │ │    │ │    │
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │    `│ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │     │
//         ╰─────╯ │   \/│ │    |│ │    -│ │  +  < >    =│       │     │    ==      ==   │     │       │     │ │     │ │     │ │     │ │     │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │    │ ╭─────╮                                                 ╭─────╮ │󰚶    │
//                                       ╰─────╯ │    │ ╭─────╮                                 ╭─────╮ │󰚶    │ ╰─────╯
//                                               ╰─────╯ │    │                                 │󰚶    │ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        punc8 {
            label = "punc8";
            bindings = <
           &kp EXCL    &kp AT    &kp POUND  &kp DLLR    &kp PRCNT    &none   &none   &none   &none   &none
           &kp CARET   &kp AMPS  &kp STAR   &td_par  &td_bkt   &trans  &trans  &trans  &trans  &trans
&kp GRAVE  &td_slh  &kp PIPE  &kp MINUS  &kp PLUS    &kp EQUAL    &none   &none   &none   &none   &none   &none
                                 &trans     &trans      &trans       &trans  &trans  &trans
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };

// ╭──────────┬──────────────────────────────────────────╮
// │ Layer 9  │  Function Keys (Mac Media Layer)         │
// ╰──────────┴──────────────────────────────────────────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ 
//                 │   F1│ │   F2│ │   F3│ │   F4│ │   F5│       │     │ │     │ │     │ │     │       │     │ │     │ │     │ │     │ │     │ 
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │ ╰─────╯ ╰─────╯ │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                 ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       ╰─────╯      ======     ╰─────╯       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮
//                 │   F6│ │   F7│ │   F8│ │   F9│ │  F10│       ╭─────╮    ==      ==   ╭─────╮       │    │ │    │ │    │ │    │ │    │
//         ╭─────╮ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       │     │   ==        ==  │     │       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╭─────╮
//         │     │ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮       │     │   ==        ==  │     │       ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ ╭─────╮ │     │
//         ╰─────╯ │  F11│ │  F12│ │  F13│ │  F14│ │  F15│       │     │    ==      ==   │     │       │     │ │     │ │     │ │     │ │     │ ╰─────╯
//                 ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯       ╰─────╯      ======     ╰─────╯       ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯ ╰─────╯
//                                       ╭─────╮                                                                 ╭─────╮
//                                       │  F16│ ╭─────╮                                                 ╭─────╮ │󰚶    │
//                                       ╰─────╯ │  F17│ ╭─────╮                                 ╭─────╮ │󰚶    │ ╰─────╯
//                                               ╰─────╯ │  F18│                                 │󰚶    │ ╰─────╯
//                                                       ╰─────╯                                 ╰─────╯

        fkey9 {
            label = "fkey9";
            bindings = <
       &kp F1   &kp F2   &kp F3   &kp F4   &kp F5     &none   &none   &none   &none   &none
       &kp F6   &kp F7   &kp F8   &kp F9   &kp F10    &trans  &trans  &trans  &trans  &trans
&none  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15    &none   &none   &none   &none   &none   &none
                         &kp F16  &kp F17  &kp F18    &trans  &trans  &trans
                                                                 &mkp MB2 &mkp MB3 &mkp MB4 &mkp MB2 
                                                                 &mkp MB1                   &mkp MB1
            >;
        };
    };
};

// ▝▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▘
//
//                                                                 ██████
//                                                                   ██  ▄▄▄▄
//                                                                   ██ ██▀▀██
//                                                                   ▀▀ ██▄▄██
//                                                               ██████  ▀▀▀▀                    ** 
//                                                                 ██ ▄▄▄▄▄▄                   ---*** 
//                                                                 ██ ██▀▀▀▀                  *-----**
//                                                                 ██ ██████                 ***+----** 
//                                                                    ██▄▄▄▄                ******----** 
//                                                                    ▀▀▀▀▀▀               ********----**  
//                                                                  ████████               ********----**#  
//                                                                  ██ ██ ██              **********----* 
//                                                                  ██ ██ ██
//                                                                  ▀▀ ▀▀ ▀▀
//                                                                  ████████
//
// ▝▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▘
